.overlay#modal-3
  .modal
    .modal-wrap
      button.modal-close(type='button'): i.icon.icon-close
      .modal-title
        .modal-title-icon: i.icon.icon-bike-bicycle
        .modal-title-text: span Add bike
      .modal-form
        select.simple-select
          option(value='') Status
          option(value='') Available
          option(value='') Busy
          option(value='') Broken
        select.simple-select
          option(value='') Doc Station
          option(value='') #456-90
          option(value='') #456-91
          option(value='') #456-92
      .modal-btn
        button.btn.btn-big.btn-theme(type='button')
          span Save