.overlay#modal-1
  .modal
    .modal-wrap
      button.modal-close(type='button'): i.icon.icon-close
      .modal-title
        .modal-title-icon: i.icon.icon-flag-pin
        .modal-title-text: span 5665 Boul Henri-Bourassa E, Montréal-Nord, QC H1G 2T4
      .modal-slots
        .modal-slots-item
          .modal-slots-item-count: span 7
          .modal-slots-item-title: span bikes
        .modal-slots-item
          .modal-slots-item-count: span 12
          .modal-slots-item-title: span slots
      .modal-btn
        button.btn.btn-big.btn-theme(type='button')
          i.icon.icon-unlock
          span Unlock