.overlay#modal-2
  .modal
    .modal-wrap
      button.modal-close(type='button'): i.icon.icon-close
      .modal-title
        .modal-title-icon: i.icon.icon-bike-bicycle
        .modal-title-text: span Your unlock code:
      .modal-code
        span 50291
      .modal-timer
        .modal-timer-title
          span End time
        .modal-timer-count
          span 00 : 27