link(rel='stylesheet', href='css/main.css?v=0')
script(src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js')
link(href='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css', rel='stylesheet' )